<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="materials" params="color">
        
        <xacro:if value="${color=='red'}">
            <material name="red">
                <color rgba = "1 0 0 1" />
            </material>
        </xacro:if>

        <xacro:if value="${color=='blue'}">
            <material name="red">
                <color rgba = "0 0 1 1" />
            </material>
        </xacro:if>

        <xacro:if value="${color=='yellow'}">
            <material name="yellow">
                <color rgba = "1 1 0 1" />
            </material>
        </xacro:if>

        <xacro:if value="${color=='grey'}">
            <material name="grey">
                <color rgba = "0.5 0.5 0.5 1" />
            </material>
        </xacro:if>

    </xacro:macro>
    
</robot>